# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# IDEs
.idea/
*.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/
Package.resolved

# Archives
*.xcarchive

# Export
export/
